*{
    padding: 0;
    margin: 0;
}

.container
{
    margin:2%;
    padding:2%;
}
.intro
{
 background-image: url("../images/bg.jpg");
 background-position: center;
 position: relative;
 background-size: cover;
 height: 90vh;
}
.text-intro .ah     
{
    color: white;
}
.text-intro
{
    color: #fff;
    position: absolute;
    top: 70%;
    left: 15%;
}
.sec2
{
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 10%;
}
.sec2 .a
{
    margin-left: 25%;
    font-size: 36px;
    font-weight: 600;
}

header
{
    
    padding: 2%;
}

.logo
{
    float: left;
    font-size: 34px;
    font-weight: bold;
    color: white;
    cursor: default;
    z-index: 100;
    position: relative;

}


nav
{
    float: right;
    display: flex;
    /* padding: 10px; */
    padding-right: 10px;
    /* padding-left: 10px; */
    
}


.nav-item
{
    padding-right: 10px;
    /* margin-right: 50px; */
    /* margin-top: 10px; */
    padding: 0px;
    cursor: default;

  
}

.nav-item > a
{
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    width: 100%;
    color: white;
    font-size: 22px;
    text-decoration: none;
    cursor: default;
    z-index: 100;
    display: inline-block;
    position: relative;
}

.nav-item > a:hover
{
    cursor: default;
}

.nav-item > a::after
{
    cursor: default;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  
}

  .nav-item >a:hover::after  {
    cursor: default;
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.submenu
{
  /* margin-top: 20%; */
    visibility: hidden;
  /* padding: 10px; */
}

.submenu > li
{
  list-style: none;
  margin-top: 15px;

  z-index: 100;
}

.submenu-item > a
{
  color: white;
  font-size: 18px;
  text-decoration: none;
  z-index:100;
  position: relative;
  padding: 18px;

}

.submenu-item > a:hover
{
  cursor: pointer;
  color: rgb(205, 204, 204);
}

.show
{
    visibility: visible;
}
  
.nav-dropdown-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: black;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.nav-dropdown-overlay.nav-overlay-raised {
    z-index: 1 !important;
    visibility: visible
}

.nav-dropdown-overlay.nav-overlay-active {
    opacity: .3;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}