*{
    padding: 0;
    margin: 0;
}
.intro
{
 background-image: url("../images/bg.jpg");
 background-position: center;
 position: relative;
 background-size: cover;
 height: 95vh;
}
.text-intro .ah     
{
    color: white;
}
.text-intro
{
    color: #fff;
    position: absolute;
    top: 70%;
    left: 15%;
}
.sec2
{
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 10%;
}
.sec2 .a
{
    margin-left: 25%;
    font-size: 36px;
    font-weight: 600;
}

.containe
{
    width: 90%;
    display: grid;
}
.box
{
    height: 100px;
    color: #fff;
    border: 2px solid white;
    position: relative;
}